*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body{
	
}
.wrapper{
	width: 100%;
}
/*NAVBAR AREA*/

.header,.footer{
	display: inline-block;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	/*background-image: url(img/bgc.png);*/
	background-color: #303030;
}
.logo{
	width: 20%;
	display: inline-block;
	color: #fcf7f7;
	font-size: 28px;
}
.header__navbar{
	display: inline-block;
	width: 70%;
}
.navbar{
	width: 50%;
	display: block;
	margin: 0 auto;
}
.navbar__item{
	display: inline-block;
	position: relative;
	margin-right: 15px;
}
.navbar__link{
	width: 100px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
   	text-align: center;
	color: #fcf7f7;
	font-size: 28px;
	text-decoration: none;
}
.navbar__link:hover{
	border-bottom: 3px solid #B7B7B7;
	color: #B7B7B7;
}

/*EMPTY STRING FOR CENTRING*/
.navbar__link:after {
   	content: "";
   	display: inline-block;
   	vertical-align: middle;
   	height: 100%;
}


/*CONTENT AREA*/
.main_content_section {
	display:inline-block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.content__about,.content__portfolio,.content__contact{
	display: block;
	width: 70%;
	height: 300px;
	margin: 0 auto;
}

.content__about{
	padding: 30px;
	font-size: 25px;
	height: 600px;
	text-align: justify;
}

/*FOOTER*/

.footer{	
	color: #fcf7f7;	
}
