*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
	font-family: 'Roboto Mono', monospace;
	height: 100%;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}
.wrapper{
	width: 100%;
	min-height: 100%;
	position: relative;
}
/*NAVBAR AREA*/

.header,.footer{
	display: inline-block;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #303030;
}
.header{
   	position: fixed;
}
.logo__container{
	width: 20%;
	display: inline-block;
	
}
.logo__link{
	display: block;
	text-decoration: none;
	color: #fcf7f7;
	padding-left: 50px;
	font-size: 1.5em;
}
.header__navbar{
	display: inline-block;
	width: 70%;
}
.navbar{
	width: 50%;
	display: block;
	margin: 0 auto;
}
.navbar__item{
	display: inline-block;
	position: relative;
	margin-right: 15px;
}
.navbar__link{
	width: 80px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
   	text-align: center;
	color: #F7FFF7;
	font-size: 1em;
	text-decoration: none;
}
.navbar__link:hover{
	border-bottom: 3px solid #B7B7B7;
	border-top: 3px solid   #303030;
	color: #B7B7B7;
}

/*EMPTY STRING FOR CENTRING*/
.navbar__link:after {
   	content: "";
   	display: inline-block;
   	vertical-align: middle;
   	height: 100%;
}


/*CONTENT AREA*/
.main_content_section {
	display:inline-block;
	min-height: 100%; 
	width: 100%;
	margin: 0 auto;
}
.about__wrapper,.portfolio__wrapper,.contact__wrapper{
	/*height: 2000px;*/
}
.about__wrapper{
	background-color: #252227;
	
}
.portfolio__wrapper{
	background-color: #4A8C69;
}
.contact__wrapper{
	background-color: #57412E;
	
}

.content__about,.content__portfolio,.content__contact{
	display: block;
	color: black ;
	width: 70%;
	margin: 0 auto;
	padding-top: 100px;
    font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	height: 600px;
	text-align: justify;
}

.content__about{
	margin-top: 50px;
	color: #F7FFF7;
}
.content__contact{
	color: #F7FFF7;
}

/*FOOTER*/

.footer{
	height: 50px;	
	margin-top: -50px;
	color: #fcf7f7;	
}


@media screen and (max-width: 788px) {
    
    .logo__container{
	width:100%;
	display: block;
        margin: 0 auto;
	
    }
    
    .header{
        display: block;
        height: 180px;
    }
    .header__navbar{
        display: block;
        width: 100%;
    }
    .navbar{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .navbar__item{
        width: 100%;
        display: inline-block;
        position: relative;
        margin-right: 15px;
    }
    .navbar__link:hover{
        border-bottom: 3px solid #B7B7B7;
        border-top: 3px solid   #B7B7B7;
        color: #B7B7B7;
    }
    .navbar__link{
		width: 100%;
		height: 50px;
		display: block;
		vertical-align: middle;
	   	text-align: center;
		color: #F7FFF7;
		font-size: 1em;
		text-decoration: none;
	}
    
    .main_content_section {
        display:inline-block;
        min-height: 100%; 
    }
.about__wrapper,.portfolio__wrapper,.contact__wrapper{
	display:inline-block;
}
    
    .content__about,
    .content__portfolio,
    .content__contact{
        display: block;
        width: 80%;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        text-align: justify;
        
    }
    
    .content__about{
        margin-top: 180px;
    }
    
}
